*::selection{
    background-color: rgba(10, 2, 15, 0.84);
    color: white;
}
.body{
    background-color: rgba(255, 255, 255, 0.84);
}
.cust{
    background-color: rgba(255, 255, 255, 0.84);
}
.cust {
    z-index: 1;
    right: 0;
    bottom: 50%;
    color: #343a40;
    background-color: white;
    border-color: #343a40;
}
.h2{
    color: rgba(255,255,255,.5);
}
.slick{
    color: white;
}
.btn-darkk{
    background-color: #343a40;
    color: white;
}
svg{
    width: 17px;
    margin-right: 27px;
    margin-left: 2px;
}
.navbar-nav{
    align-items: center;
}
.nav-item .h:hover{
   color: #282c32 ;
}
.active{
    color: #343a40;
}
.active:hover{
    color: #4d555e;
}
.h33{
    color: #343a40;
}
.h333{
    color: #343a40;
}
.h44{
    color: rgba(0,0,0,.5);
}
.h{
    color: rgba(0,0,0,.5);
}


.alink{
    background-color: #343a40;
}
.login{
    color: #343a40;
}
.login:hover{
    color: #4b555e;
}
.text{
    color: rgba(0,0,0,.5);
}
.img-thumbnaill{
    padding: .25rem;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
}
.vv{
    flex-direction: row;
    width: 171px;
    justify-content: space-between;
}
main div{
    margin: 6%;
    width: 92.8%;
    height: 92.8%;
    background-color: #5d393d66;
}
h3{
    font-size: 46px;
    margin-left: 9px;
}
.btn{
    font-size: 17px;
    padding: 10px;
}
h2{
    font-size: 2rem;
}
.p-5 {
    padding: 4rem !important;
}
.color1, .color2, .color3{
    background-color: #fdf1d5;
    padding: 10px;
    outline-color: #828282;
    outline-style: auto;
    border: solid;
    outline-offset: 2px;
    border-color: white;
}
.color2{
    background-color: #f9d5fd;
}
.color3{
    background-color: #d5defd;
}
.c1{
    background-color: rgba(10, 2, 15, 0.84);
}
.c2{
    background-color: #9c2c2c;
}
.c3{
    background-color: #423129;
}
.c4{
    background-color: #fffcfc;
}
.c5{
    background-color: #ffa587;
}
.c6{
    background-color: #b99cff;
}
.c7{
    background-color: rgba(255, 0, 112, 0.96);
}
.c8{
    background-color: #277725;
}
.c9 {
    background-color: #35a18f;
}
.color1:focus, .color2:focus, .color3:focus{
    border-color: #ffffff;
    box-shadow: 0 0 0 0.2rem rgba(122, 119, 131, 0.28);
}
.btn-outline-dark{
    font-size: 12px;
    padding: 7px;
}
.ff{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.div1{
    width: 30%;
}
.div2{
    width: 45%;
  }
.im1{
    width: 100%;
}
.im2{
    width: 100%;
}
.div-empty{
    background: url("../img/div-empty.jpg") no-repeat fixed;
    background-size: cover;
    padding: 285px;
}
.ddd{
    padding: 238px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.31);
    width: 100%;
    height: 100%;
}
.div-img{
    width: 40%;
}
.bgdiv{
    left: 151px;
    background-color: rgb(84 116 124 / 76%);
    padding: 260px;
    padding-bottom: 520px;
    top: -12px;
}
.bl{
    right: 19%;
    top: 291px;
}
.bll{
    right: 28%;
}
.fo{
   font-size:  25px;
}
.fon{
    font-size: 33px;
}
.sec{
    height: 820px;
}
.bnn{
    left: 5px;
    bottom: 15px;
    width: 93.7%;
}
.boy-img{
    width: 95%;
}
.girl-img{
    width: 95%;
}

.foo{
    padding: 100px;
    background-color: rgba(236, 200, 176, 0.38);
}
.sv1{
    width: 17px;
}
.sv2{
    width: 18px;
}
.sv3{
    width: 11px;
}
.ico-btn{
    margin-right: 10px;
}
.last-div{
    text-align: center;
    background-color: black;
    padding: 40px;
}
.btn-lightt{
    background-color: white;
}
.textt{
    color: #282c32;
}
.copy{
    color: white;
}
.texttt{
    color: #282c32;
}
.vvv{
    flex-direction: row;
}

.btns .btn{
    width: 100px;
}
.items{
background-color: #d7a1a766;
    margin-right: 20px;
    text-align: center;
}
.items img{
    width: 271px;
    height: 323px;
    padding: 21px;
    border-radius: 28px;
}
.reverse-do{
    margin-top: 40px;
}
.items button{
    border: none;
    border-radius: 10px;
    background-color:  #282c32;
    color: white;
    padding: 10px 20px;
    margin-bottom: 15px;
}
.items button:hover{
    background-color: rgba(0, 0, 0, 0.71);
}
.items h2{
    color: #282c32;
}
.backk{
    position: absolute;
    z-index: -5;
    animation-name: back;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background-color: #ff0000;
    min-width: 100%;
    height: 250px;
    left: 0;
    margin-top: 64px;
}
.backk p{
    font-size: 100px;
    margin-top: 60px;
}
@keyframes back {
    0%{
        background-color: #0b654b;

    }
    50%{
        background-color: #ff0000;
    }
    100%{
        background-color: #182a87;
    }
}


.back{
    position: absolute;
    z-index: -5;
    animation-name: backk;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: linear;
    left: 0;
    background-color: #8c2323;
    min-width: 100%;
    height: 250px;
    margin-top: 64px;
}
.back p{
    font-size: 100px;
    margin-top: 60px;
}
@keyframes backk {
    0%{
        background-color: #0b654b;
    }
    50%{
        background-color: #ff0000;
    }
    100%{
        background-color: #383e5a;
    }
}









.side{
    animation-name: side;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes side {
    0%{
        color: #8c2323;
    }
    50%{
        color: #ffa587;
    }
    100%{
        color: #383e5a;
    }
}








/*@media only screen and (min-width: 640px ) and (max-width: 961px){*/
/*    .d-flex{*/
/*        flex-wrap: nowrap;*/
/*    }*/
/*}*/
/*@media only screen and (min-width: 444px) and (max-width: 641px){*/
/*    .d-flex{*/
/*        flex-wrap: nowrap;*/
/*    }*/
/*}*/
/*@media only screen and (min-width: 320px) and (max-width: 443px){*/
/*    .d-flex{*/
/*        flex-wrap: wrap;*/
/*    }*/
/*}*/
